* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 650px) {
  html,
  body {
    height: 100%;
  }
  #nav {
  }

  .navbar-toggler {
    margin-right: 74px;
  }
  .navbar-nav {
    padding-left: 234px;
  }

  .picture-profile {
    position: fixed;
    border-radius: 89%;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 13px;
  }
  .card-group {
    position: sticky;
    display: flex;
    flex-direction: column;
  }
  .card-1 {
    position: absolute;
    width: 100%;
    height: 146px;
    top: 5px;
    background: #2a2929;
  }
  .card-2 {
    position: absolute;
    width: 100%;
    height: 195px;
    top: 155px;
  }
  .card-3 {
    position: absolute;
    width: 100%;
    height: 146px;
    top: 354px;
    background: #2a2929;
  }

  .card-4 {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 504px;
    background: #2a2929;
  }
  .picture {
    position: absolute;
    border-radius: 8px;
    width: 90px;
    height: 90px;
    top: 30px;
    left: 40px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  p {
    position: absolute;
    color: #f1c011;
    font-size: 10px;
    top: 50px;
    left: 150px;
  }
  .piano {
    width: 100%;
    height: 195px;
  }
  h2 {
    position: absolute;
    font-size: 15px;
    color: #ffffff;
    left: 120px;
  }
  .title-blog {
    left: 155px;
  }

  .title-propos {
    left: 147px;
  }
  .instagram {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 90px;
  }
  .soudcloud {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 170px;
  }
  .youtube {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    left: 260px;
  }
  .material-icons-outline {
    position: absolute;
  }

  .card {
    border: black;
    border-radius: 8px;
    position: absolute;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: 289px;
    height: 150px;
    left: 45px;
    top: 35px;
    width: 280px;
  }
  .audio {
    display: flex;
    flex-direction: column;
    top: 14px;
    height: 32px;
    width: 244px;
    margin-left: 10px;
  }
  #blog-1 {
    transition: 0.5s;
    border-radius: 8px;
    width: 160px;
    height: 70px;
    left: 110px;
  }
  #blog-2 {
    border-radius: 8px;
    width: 160px;
    height: 70px;
    left: -67px;
  }
  #blog-3 {
    border-radius: 8px;
    width: 160px;
    height: 70px;
    left: 290px;
  }
  #image {
    width: 160px;
    height: 70px;
  }
  .text {
    left: 16px;
    top: 45%;
  }
  #footer {
    position: absolute;
    bottom: -26px;
    width: 100%;
    height: 52px;
  }
}
